/*body {
    margin: 0;
}*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.cardCtn {
    background-color: none;
    /*box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8px;*/
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    /*height: 100%;*/
    /*margin: 24px;*/
    padding: 18px 10px;
    position: relative;
    /*top: -110px;*/
}

.card {
    width: 80%;
    margin: 20px;
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-items: center;
    flex-direction: row;
    font-family: Kanit;

    transition: 0.3s;
}

.card>div {
    display: flex;
    align-items: center;
    align-content: space-around;
}

.btn1 {
    border: none;
    width: 100px;
    background-color: #3d4468;
    border-radius: 14px;
    color: #ffffff;
    padding: 8px 0px;
    cursor: pointer;
    font-family: Kanit;
}

.btn1:hover {
    background-color: #0e0f16;
    transition-duration: 0.8s;
}

.basKetDiv{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 50px;
    bottom: 36px;
    font-family: Kanit, sans-serif;
}

.finishBtn{
    border: none;
    padding: 0px 28px;
    background: #FFBABE;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.30);
    border-radius: 36px;
    font-family: Kanit, sans-serif;
    font-size: 16px;
    margin-left: 20px;    
    cursor: pointer;
}
.finishBtn:hover{
    background: #c2585d;
    color: white;
    transition: 0.4s;
}

.sectSelect{
    font-family: Kanit, sans-serif;
    background-color: #f2f2f2;
    color: black;
    /*border: 1px solid #999999;*/
    border: none;
    border-radius: 5px;
    line-height: 2;
    outline: 0;
    padding: 0.20em 0em 0.20em 0.55em;
    width: 70px;
    box-shadow: 0.6px 0.6px 5px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.sectSelect:hover{
    background-color: #ffffff;
    transition: 0.4s;
}

.btn1:disabled {
    background-color: gray;
    transition: none;
}

.btn1:hover:not([disabled]) {
    background-color: #0e0f16;
    transition-duration: 0.8s;
}

.fix-sect {
    margin: inherit;
    width: auto;
}
